# =========================
# Maven
# =========================
**/target/
target/
*.jar
*.war
*.ear

# =========================
# Gradle (por si acaso)
# =========================
build/
.gradle/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
**/docker-compose.override.yml

# =========================
# Spring Boot
# =========================
*.pid
hs_err_pid*

# =========================
# Config sensibles (opcional)
# =========================
application-*.yml
!application-example.yml
