spring:
  application:
    name: users-service

  config:
    # import: "optional:configserver:http://localhost:8888"
    import: "optional:configserver:http://config-server:8888"

  reactor:
    context-propagation: auto

management:
  endpoints:
    web:
      exposure:
        include: metrics,health,info,prometheus

  endpoint:
    prometheus:
      enabled: true

  tracing:
    enabled: true
    sampling:
      probability: 1.0

logging:
  file:
    name: logs/miapp.log
  level:
    root: INFO